
/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--clr-accent);
    font-weight: var(--fw-bold);
    text-decoration: none;
    color: var(--clr-darker);
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 250ms ease-in-out;
    border-radius: 25px;
}

.btn:hover {
    transform: scale(1.25);
}

.more-btn {
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--clr-accent);
    font-weight: var(--fw-bold);
    text-decoration: none;
    color: var(--clr-darker);
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 250ms ease-in-out;
    border-radius: 25px;
    padding-left: 50px;
    padding-right:  50px;
    margin:  20px;
}

.more-btn:hover {
    transform: scale(1.25);
}

.special_btn {
    margin: 0;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: .5em 1.5em;
    background: var(--clr-dark);
    font-weight: var(--fw-bold);
    border-color: var(--clr-accent);
    text-decoration: none;
    color: var(--clr-accent);
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 250ms ease-in-out;
    border-radius: 5px;
    max-width: 250px;
}

.special_btn:hover {
    transform: scale(1.01);
}

.special_btn1 {
    display: none;
    margin: 0;
    align-items: center;
    justify-content: center;
    padding: .5em 1.5em;
    background: var(--clr-dark);
    font-weight: var(--fw-bold);
    border-color: var(--clr-accent);
    text-decoration: none;
    color: var(--clr-accent);
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 250ms ease-in-out;
    border-radius: 5px;
    max-width: 250px;
}

.special_btn1:hover {
    transform: scale(1.01);
}