/* Projects */
.my-projects {
    background-color: var(--clr-dark);
    background-image: url(../img/backgrounds/code/code5.jpeg);
    color: var(--clr-light);
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;

}

.section__title--projects {
    color: var(--clr-accent);
    position: relative;
}

.section__title--projects::after {
    content: '';
    display: block;
    width: 25%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.5;
}

.projects {
    margin-bottom: 2.5em;

}

.project {
    max-width: 300px;
    margin: 0 auto;
    font-family: var(--ff-secondary);
    border: #B6F29D 1px solid;
    background: black;
    transition: transform 250ms ease-in-out;
    margin-bottom: 50px;
    padding-bottom: 12px;


}

.project h3 {
    margin: 10px;
    color: var(--clr-accent);
    font-family: var(--ff-primary);
}

.project:hover {
    transform: scale(1.15);
}

.project__img {
    transition: transform 250ms ease-in-out;
    max-width: 100%;
    display: flex;
}


.project__description {
    position: relative;
}

.project_logo {
    color: var(--clr-dark);
    /*margin-bottom: 20px;*/
}

