
/* Services section */

.my-services {
    background-color: var(--clr-dark);
    background-image: url(../img/backgrounds/code/code6.jpeg);
    color: var(--clr-light);
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 25%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.5;
}

.services {
    margin-bottom: 1em;
}

.service {
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
    font-family: var(--ff-secondary);
    padding-bottom: 40px;
}

.service h3 {
    padding-top: 20px;
    font-family: var(--ff-primary);
}

@media (min-width: 1200px) {
    .services {
        display: flex;
        max-width: 2000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 5em;

    }
}