{% extends "layout.html" %}

{% block content %}
<section class="my-current-books" id="current-books">

    <div class="books">

        <div class="book__container">
            <a href="/books/shelf/atomic-habits" class="book__item">
                <img src="/static/img/books/covers/atomic.jpg" alt="Atomic Habits" class="portfolio__img">
            <div class="book_overlay">
                <div class="book-text">
                    <p class="book-title">Atomic Habits</p>
                    <p class="author">James Clear</p>
                </div>
            </div>
            </a>
        </div>

        <div class="book__container">
            <a href="/soon" class="book__item">
                <img src="/static/img/books/covers/deep_work.jpg" alt="Deep Work" class="portfolio__img">
            <div class="book_overlay">
                <div class="book-text">
                    <p class="book-title">Deep Work</p>
                    <p class="author">Cal Newport</p>
                </div>
            </div>
            </a>
        </div>

        <div class="book__container">
            <a href="/soon" class="book__item">
                <img src="/static/img/books/covers/hurt_me.jpg" alt="Can't hurt me " class="portfolio__img">
            <div class="book_overlay">
                <div class="book-text">
                    <p class="book-title">Can't Hurt Me</p>
                    <p class="author">David Goggins</p>
                </div>
            </div>
            </a>
        </div>


    </div>

    <div class="title-book">
        <p class="section__subtitle section__subtitle--books">CURRENTLY READING</p>
    </div>


</section>
{% endblock %}
