{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/shelf.css">
{% endblock %}

{% block content %}

<script type="text/javascript" src="/static/js/favorites/books/shelf.js" data_file="/data/books/list.json"></script>

<section class="my-current-books" id="current-books">
    <div class="title-book" style="">
        <p class="section__subtitle section__subtitle--books">YET TO READ</p>
    </div>
    <div class="books" id="books_div">
    </div>
</section>
{% endblock %}