{% extends "layout.html" %}

{% block content %}
<section class="my-movies" id="movies">

    <div class="movies">

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0407887/" target="_blank" class="movie__item">
                <img src="/static/img/movies/depart.jpg" alt="The Departed" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">The Departed</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0097165/" target="_blank" class="movie__item">
                <img src="/static/img/movies/dead.jpg" alt="Dead Poets Society" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Dead Poets Society</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0082971/" target="_blank" class="movie__item">
                <img src="/static/img/movies/indiana.jpg" alt="Indiana Jones and the Raiders of the Lost Ark" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title" style="font-size: 35px">Indiana Jones and the Raiders of the Lost Ark</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0264464/" target="_blank" class="movie__item">
                <img src="/static/img/movies/catch.jpg" alt="Catch Me If You Can" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Catch Me If You Can</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0110912/" target="_blank" class="movie__item">
                <img src="/static/img/movies/pulp_fiction.jpg" alt="Pulp Fiction" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Pulp Fiction</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0119217/" target="_blank" class="movie__item">
                <img src="/static/img/movies/goodwill.jpg" alt="Good Will Hunting" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Good Will Hunting</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt1285016/" target="_blank" class="movie__item">
                <img src="/static/img/movies/social.jpg" alt="The Social Network" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">The Social Network</p>
                </div>
            </div>
            </a>
        </div>


        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0478087/" target="_blank" class="movie__item">
                <img src="/static/img/movies/21.jpg" alt="21" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">21</p>
                </div>
            </div>
            </a>
        </div>


        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0111161/" target="_blank" class="movie__item">
                <img src="/static/img/movies/shawshank.jpg" alt="The Shawshank Redemption" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">The Shawshank Redemption</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0114369/" target="_blank" class="movie__item">
                <img src="/static/img/movies/se7en.jpg" alt="cars 2" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Se7en</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0468569/" target="_blank" class="movie__item">
                <img src="/static/img/movies/darknight.jpg" alt="The Dark Knight" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">The Dark Knight</p>
                </div>
            </div>
            </a>
        </div>


        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt1345836/" target="_blank" class="movie__item">
                <img src="/static/img/movies/rises.jpg" alt="The Dark Knight Rises" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">The Dark Knight Rises</p>
                </div>
            </div>
            </a>
        </div>


        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt3783958/" target="_blank" class="movie__item">
                <img src="/static/img/movies/lala.jpg" alt="La La Land" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">La La Land</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt1104001/" target="_blank" class="movie__item">
                <img src="/static/img/movies/tron.jpg" alt="Tron" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Tron: Legacy</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0086567/" target="_blank" class="movie__item">
                <img src="/static/img/movies/wargames.jpg" alt="WarGames" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">WarGames</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0454921/" target="_blank" class="movie__item">
                <img src="/static/img/movies/happyness.jpg" alt="The Pursuit of Happyness" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">The Pursuit of Happyness</p>
                </div>
            </div>
            </a>
        </div>


        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt1219289/" target="_blank" class="movie__item">
                <img src="/static/img/movies/limitless.jpg" alt="Limitless" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Limitless</p>
                </div>
            </div>
            </a>
        </div>
        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0816692/" target="_blank" class="movie__item">
                <img src="/static/img/movies/interstellar.jpg" alt="Interstellar" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Interstellar</p>
                </div>
            </div>
            </a>
        </div>
        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt1375666/" target="_blank" class="movie__item">
                <img src="/static/img/movies/inception.jpg" alt="Inception" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Inception</p>
                </div>
            </div>
            </a>
        </div>
        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0133093/" target="_blank" class="movie__item">
                <img src="/static/img/movies/matrix.jpg" alt="the matrix" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">The Matrix</p>
                </div>
            </div>
            </a>
        </div>
        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0240772/" target="_blank" class="movie__item">
                <img src="/static/img/movies/eleven.jpg" alt="oceans eleven" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Ocean's Eleven</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0349903/" target="_blank" class="movie__item">
                <img src="/static/img/movies/twelve.jpg" alt="oceans twelve" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Ocean's Twelve</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0496806/" target="_blank" class="movie__item">
                <img src="/static/img/movies/thirteen.jpg" alt="oceans thirteen" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Ocean's Thirteen</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0080684/" target="_blank" class="movie__item">
                <img src="/static/img/movies/empire.jpg" alt="empire strikes back" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Star Wars: The Empire Strikes Back</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0076759/" target="_blank" class="movie__item">
                <img src="/static/img/movies/hope.jpg" alt="a new hope" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Star Wars: A New Hope</p>
                </div>
            </div>
            </a>
        </div>
        
        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0121766/" target="_blank" class="movie__item">
                <img src="/static/img/movies/revenge.jpg" alt="revenge of the sith" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Star Wars: Revenge of the Sith</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt3748528/" target="_blank" class="movie__item">
                <img src="/static/img/movies/rogue.jpg" alt="Rogue One: A Star Wars Story" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Rogue One: A Star Wars Story</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt4154756/" target="_blank" class="movie__item">
                <img src="/static/img/movies/infinity.jpg" alt="Avengers: Infinity War" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Avengers: Infinity War</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt1843866/" target="_blank" class="movie__item">
                <img src="/static/img/movies/winter.jpg" alt="Captain America: The Winter Soldier" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Captain America: The Winter Soldier</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt4633694/" target="_blank" class="movie__item">
                <img src="/static/img/movies/verse.jpg" alt="Spider-Man: Into the Spider-Verse" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Spider-Man: Into the Spider-Verse</p>
                </div>
            </div>
            </a>
        </div>
        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt1872181/" target="_blank" class="movie__item">
                <img src="/static/img/movies/amazing.jpg" alt="The Amazing Spider-Man 2" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">The Amazing Spider-Man 2</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0120737/" target="_blank" class="movie__item">
                <img src="/static/img/movies/fellow.jpg" alt="The Lord of the Rings: The Fellowship of the Ring" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">The Lord of the Rings: The Fellowship of the Ring</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0167261/" target="_blank" class="movie__item">
                <img src="/static/img/movies/towers.jpg" alt="The Lord of the Rings: The Two Towers" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">The Lord of the Rings: The Two Towers</p>
                </div>
            </div>
            </a>
        </div>


        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0167260/" target="_blank" class="movie__item">
                <img src="/static/img/movies/king.jpg" alt="The Lord of the Rings: The Return of the King" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title" style="font-size: 35px">The Lord of the Rings: The Return of the King</p>
                </div>
            </div>
            </a>
        </div>


        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0088763/" target="_blank" class="movie__item">
                <img src="/static/img/movies/future.jpg" alt="Back to the Future" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Back to the Future</p>
                </div>
            </div>
            </a>
        </div>

    
        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0099088/" target="_blank" class="movie__item">
                <img src="/static/img/movies/future3.jpg" alt="Back to the Future Part III" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Back to the Future Part III</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0099785/" target="_blank" class="movie__item">
                <img src="/static/img/movies/home.jpg" alt="Home Alone" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Home Alone</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt1453405/" target="_blank" class="movie__item">
                <img src="/static/img/movies/mu.jpg" alt="cars 2" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Monsters University</p>
                </div>
            </div>
            </a>
        </div>


        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt0317219/" target="_blank" class="movie__item">
                <img src="/static/img/movies/cars.jpg" alt="cars" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Cars</p>
                </div>
            </div>
            </a>
        </div>

        <div class="movie__container">
            <a href="https://www.imdb.com/title/tt1216475/" target="_blank" class="movie__item">
                <img src="/static/img/movies/cars2.jpg" alt="cars 2" class="portfolio__img">
            <div class="movie_overlay">
                <div class="movie-text">
                    <p class="movie-title">Cars 2</p>
                </div>
            </div>
            </a>
        </div>
    </div>


</section>
{% endblock %}
