{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/blog_list.css">
{% endblock %}

{% block content %}
<section class="post">

    <div class="post-header">
    
        <h2 class="post-title" id="title">
            <strong>My top 5 fiction series</strong>
        </h2>

        <h3 class="post-author">
            Andrew Boyer
        </h3>  

        <h3 class="post-date">
            2.21.22
        </h3>  
        
    </div>

    <div class="post-content">
        <p class="post-text-intro" id="preface">
            A habit that I'm trying to get back into in the new year is reading more often. When I say often, I mean finishing a book every week or so. And not just non-fiction, but fiction too. In this post I'll go over my favorite fictional book series (plus one bonus for younger readers), plus why I still read fiction, and you should too. Also, I'm going to be adding all time and currents books sections to my website, similar to what I do with my favorite <a href="/music" target="_blank">music</a>. Also, if you want to sign up for the official <a href="/" target="_blank">asboyer.com</a> newsletter, click <a href="/blog" target="_blank">here</a>. I'd appreciate any feedback on this new list format. Just reply to the newsletter email. Anyways, enjoy!
        </p>

        <div class="post-line" style="margin-bottom: 20px"></div>

        <h3 class="post-text-header" id="intro"><a href="/blog/2#intro">Introduction</a></h3>

        <p class="post-text">
            All throughout elementary and middle school, I plowed through countless fictional series. There was always time to read, in and out of school alike. There were times I would stay up late with my reading lantern, lost in other worlds. Other times when I finished my classwork early in school, I jumped back into those worlds.<br>Before I got into technology or video games, books were my escape. And honestly, I'm trying to go back to those simpler times. I'd rather books be my escape than social media. One is definitely enriching than the other.
        </p>
    <a id="img-1" class="post-link" style="width: 50%">
        <img  src="/static/img/blog/fiction/book.jpeg">
    </a>
    <figcaption>Reading a book</figcaption>
    <br>
        <p class="post-text">
            In high school, its a lot easier to get by without reading fiction. Don't get me wrong, I'd still read the occasional fiction book for fun, along with whatever I was assigned to read in English class, and the non-fiction book I was trying to finish. But, at the end of humble day, I just didn't have enough time (<i>commitment</i>) to get a series done in a month like I used to (in my "prime").<br>
            But, like I said before, my goal is to read fiction often, along with reading non-fiction on the various topics I'm interested in.<br>
            By far the hardest thing about reading fiction is actually finding a series you can commit too. Once I'm into a series, its locks: I <i>will</i> finish the series. If I'm invested enough, I need to find out what happens. But, let's be honest: most books (and series) can't transport you to another world. Or, you just don't like the world the author is trying to take you to. Whatever the case, finding a series I actually like is the hardest part. 
            <br>
            That's why I'm writing this list. These are my top five favorite book series. Before we get into the list, allow me to clarify one thing: these are <i>my personal</i> favorites. Did I like the <i>Harry Potter</i>, <i>Maze Runner</i>, and <i>Percy Jackson</i> books? Of course. But, they haven't made as much of an impact on me on these other series, and plus, you've already heard about <i>Harry Potter</i> a million too many times. If you haven't read <i>Harry Potter</i> yet, turn off whatever device you're using to read this blog, go read <i>Harry Potter</i>, then come back to this blog. For real, if you haven't read <i>Harry Potter</i> yet... I don't know what to say. Go find God?
            <br>
            Here are my top five favorite book series, with a quick, spoiler-free review, plus a guide to reading all the books, because the order can be confusing sometimes.
        </p>

        <h3 class="post-text-header" id="list"><a href="/blog/2#list">My Top 5</a></h3>
        <p class="post-text" id="list-title">5. <i>Jack Blank</i></p>
        <p class="post-text" id="list-subtitle">Matt Myklusch</p>
        <p class="post-text">


        <div class="book__container" id="list-img">
            <a href="/soon" class="book__item">
                <img src="https://m.media-amazon.com/images/I/51nJGktduQL.jpg" alt="Deep Work" class="portfolio__img">
            <div class="book_overlay">
                <div class="notes-book-text">
                    <ul class="linklist">
                        <li class="link">
                            <a class="list__link" href="https://www.amazon.com/Accidental-Hero-Jack-Blank-Adventure/dp/1416995625" target="_blank"><i class="fab fa-amazon"><p class="link-description">The Accidental Hero</p></a></i>
                        </li>
                        <li class="link">
                            <a class="list__link" href="https://www.amazon.com/Atomic-Habits-James-Clear/dp/1847941834/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1623196103&sr=8-1" target="_blank"><i class="fab fa-amazon"><p class="link-description">Amazon</p></a></i>
                        </li>
                        <li class="link">
                            <a class="list__link" href="https://www.amazon.com/Atomic-Habits-James-Clear/dp/1847941834/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1623196103&sr=8-1" target="_blank"><i class="fab fa-amazon"><p class="link-description">Amazon</p></a></i>
                        </li>

                    </ul>
                </div>
            </div>
        </a>
        </div>
        <!-- <a id="list-img" href=""><img src=""></a> -->
        <p class="post-text">
        That's why I'm writing this list. These are my top five favorite book series. Before we get into the list, allow me to clarify one thing: these are <i>my personal</i> favorites. Did I like the <i>Harry Potter</i>, <i>Maze Runner</i>, and <i>Percy Jackson</i> books? Of course. But, they haven't made as much of an impact on me on these other series, and plus, you've already heard about <i>Harry Potter</i> a million too many times. If you haven't read <i>Harry Potter</i> yet, turn off whatever device you're using to read this blog, go read <i>Harry Potter</i>, then come back to this blog. For real, if you haven't read <i>Harry Potter</i> yet... I don't know what to say. Go find God?
        </p>

    </div>

</section>
{% endblock %}

{% block scripts %}
{% endblock %}
