{% extends "layout.html" %}

{% block content %}
<!-- BEGIN BLOG -->
<section class="my-blog" id="blog" style="border: #B6F29D 1px solid; margin-top: 0px; padding-top: 0px">

    <h2 class="section__title section__title--blog"><strong>Boyer's</strong> Blog</h2>
    <p class="section__subtitle section__subtitle--blog"><strong>"</strong>When I feel like posting<strong>"</strong></p>

    <div class="posts">
<!-- 
        <div class="blog__container">
            <a href="/blog/1" class="blog__item">
                <img src="/static/img/blog/python-mvp/jokic.png" alt="internet blog post" class="blog__img">
                <div class="overlay">
                    <div class="text">
                        <p class="title">How I used Python to predict the NBA MVP</p>
                        <p class="date">8.20.21</p>


                        <p class="subject">Programming</p>
                    </div>
                </div>
            </a>
        </div> -->
<!-- 
        <div class="blog__container">
            <a href="/blog/0" class="blog__item">
                <img src="/static/img/blog/kanye/kanye.png" alt="internet blog post" class="blog__img">
                <div class="overlay">
                    <div class="text">
                        <p class="title">Kanye West is my role model</p>
                        <p class="date"></p>
                        <p class="subject">Life & Music</p>
                    </div>
                </div>
            </a>
        </div> -->

        <div class="blog__container">
            <a href="/soon" class="blog__item">
                <img src="/static/img/l.png" alt="internet blog post" class="blog__img">
                <div class="overlay">
                    <div class="text">
                        <p class="title">Coming Soon</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="blog__container">
            <a href="/soon" class="blog__item">
                <img src="/static/img/l.png" alt="internet blog post" class="blog__img">
                <div class="overlay">
                    <div class="text">
                        <p class="title">Coming Soon</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="blog__container">
            <a href="/soon" class="blog__item">
                <img src="/static/img/l.png" alt="internet blog post" class="blog__img">
                <div class="overlay">
                    <div class="text">
                        <p class="title">Coming Soon</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
</section>
<!-- END BLOG -->
{% endblock %}
