{% extends "layout.html" %}

{% block styles %}
{% endblock %}

{% block content %}

        <!-- Introduction -->
        <section class="soon" style="background: #111; padding: 250px">
            <h1 class="section__title section__title--soon">
                Coming <strong>Soon</strong>
            </h1>
            <p class="section__subtitle section__subtitle--soon">Hi! I am currently writing this blog post, and it will hopefully be ready by Monday, July 11th. Come back then!</p>
            <p class="break"></p>
            <p class="section__subtitle section__subtitle--soon">This post will describe the interworkings of <a class="inline-link" href="https://www.goatgrade.com/" target="_blank">Goat Grade</a>, a project I started with a friend in February. We scraped basketball statistics from <a class="inline-link" href="https://www.basketball-reference.com/" target="_blank">Basketball reference</a> and ranked all players by their statistical rankings in all categories. While the list is nowhere near perfect, we predicted the top two MVP candidates, and the ultimate winner. Check it out while you wait for the whole story!</p>
        </section>
        <!-- Footer -->
        <footer class="footer">
            <ul class="social-list">
                <li class="social-list__item">
                    <a class="social-list__link" href="https://github.com/asboyer" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://www.youtube.com/channel/UCFOqd7pJ9y1j1VfJAgtRlkg" target="_blank"><i class="fab fa-youtube"></i></a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://open.spotify.com/user/uuzdbyuye92sxqjltw955qm9n?si=rPFH2WO_TQOwm8TH_PPzVQ" target="_blank"><i class="fab fa-spotify"></i></a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://www.linkedin.com/in/asboyer/" target="_blank"><i class="fab fa-linkedin"></i></a>
                </li>
<!--                 <li class="social-list__item">
                    <a class="social-list__link" href="https://discord.gg/HaGpN3AeHz" target="_blank"><i class="fab fa-discord"></i></a>
                </li> -->
                <li class="social-list__item">
                    <a class="social-list__link" href="https://twitter.com/asboyer_" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
            </ul>
        </footer>
        <!-- Footer -->

        <script src="js/index.js"></script>

    </body>    
</html>