{% extends "layout.html" %}

{% block content %}
<section class="my-albums" id="albums">

    <div class="albums">

        <div class="album__container">
            <a href="https://open.spotify.com/album/6USIVqn1qiNAsRYtWo2CSa?si=azj7pCF_QniZKhpjRa1pfA&dl_branch=1" class="album__item">
                <img src="/static/img/music/albums/from_me.jpeg" alt="from me to you" class="portfolio__img">
            <div class="album_overlay">
                <div class="album-text">
                    <p class="title" style="white-space: nowrap;">From Me To You</p>
                    <p class="artist">Quadeca</p>
                    <div class="the-tracks">
                        <ul class="tracklist-long">
                            <li class="tracks-long">Top Tracks:</li>
                            <li>Sisyphus</li>
                            <li>Candles on Fire!</li>
                            <li>Shades of Us</li>
                            <li>Smiling at the Groud</li>
                            <li>Can't You See?</li>
                            <li>Maybe Another Day...</li>
                            <li>Alone Together</li>
                            <li>Burnin Bridges / Long Day</li>
                            <li>Work!</li>
                            <li>People Pleaser</li>
                            <li>Swallowed the Key (Interlude)</li>
                            <li>It's All a Game</li>
                            <li>Where'd You Go?</li>
                            <li>Summit, Pt. 1</li>
                        </ul>
                    </div>
                </div>
            </div>
            </a>
        </div>

        <div class="album__container">
            <a href="https://open.spotify.com/album/4Uv86qWpGTxf7fU7lG5X6F?si=8e72d6d0d43f4c76" class="album__item">
                <img src="/static/img/music/albums/dropout.jpg" alt="All Over The Place" class="portfolio__img">
            <div class="album_overlay">
                <div class="album-text">
                    <p class="title" style="white-space: nowrap;">The College Dropout</p>
                    <p class="artist">Kanye West</p>
                    <div class="the-tracks">
                        <ul class="tracklist-long">
                            <li class="tracks-long">Top Tracks:</li>
                            <li>We Don't Care</li>
                            <li>All Falls Down</li>
                            <li>Spaceship</li>
                            <li>Jesus Walks</li>
                            <li>Never Let Me Down</li>
                            <li>The New Workout Plan</li>
                            <li>Spaceship</li>
                            <li>Slow Jamz</li>
                            <li>School Spirit</li>
                            <li>Two Words</li>
                            <li>Through The Wire</li>
                            <li>Family Business</li>
                            <li>Last Call</li>
                        </ul>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="album__container">
            <a href="https://open.spotify.com/album/3WgAFg6y9jmNYLdC4xzHBF?si=8d2600cd029b4e32" class="album__item">
                <img src="/static/img/music/albums/all_over.jpeg" alt="All Over The Place" class="portfolio__img">
            <div class="album_overlay">
                <div class="album-text">
                    <p class="title">All Over The Place</p>
                    <p class="artist">KSI</p>
                    <div class="the-tracks">
                        <ul class="tracklist">
                            <li class="tracks">Top Tracks:</li>
                            <li>The Moment</li>
                            <li>Patience</li>
                            <li>You</li>
                            <li>Gang Gang</li>
                            <li>Silly</li>
                            <li>No Time</li>
                        </ul>
                    </div>
                </div>
            </div>
            </a>
        </div>


        <div class="album__container">
            <a href="https://open.spotify.com/album/3WgAFg6y9jmNYLdC4xzHBF?si=8d2600cd029b4e32" class="album__item">
                <img src="/static/img/music/albums/daytona.jpeg" alt="All Over The Place" class="portfolio__img">
            <div class="album_overlay">
                <div class="album-text">
                    <p class="title">DAYTONA</p>
                    <p class="artist">Pusha T</p>
                    <div class="the-tracks">
                        <ul class="tracklist">
                            <li class="tracks">Top Tracks:</li>
                            <li>If You Know You Know</li>
                            <li>Hard Piano</li>
                            <li>Come Back Baby</li>
                            <li>What Would Meek Do?</li>
                            <li>Infared</li>
                        </ul>
                    </div>
                </div>
            </div>
            </a>
        </div>

    </div>


</section>

<section class="my-songs" id="songs">

    <div class="songs">

        <!-- ego death, the beach, break my stride, floor 13, stay, 7 summers, what a fool believes, church grey, lemonhead, somebody's watching me, cartier fleece, whipsski -->

        <div class="song__container">
            <a href="https://open.spotify.com/track/5OFEJMirg4NPz7G1zgXDYu?si=0c00b01291d74654" class="song__item">
                <img src="/static/img/music/albums/vince.jpeg" alt="trouble man" class="portfolio__img">
            <div class="song_overlay">
                <div class="album-text">
                    <p class="song-title" style="font-size: 13px; white-space: nowrap;">ARE YOU WITH THAT?</p>
                    <p class="song-artist">Vince Staples</p>
                </div>
            </div>
            </a>

        </div>

        <div class="song__container">
            <a href="https://open.spotify.com/track/5OFEJMirg4NPz7G1zgXDYu?si=0c00b01291d74654" class="song__item">
                <img src="/static/img/music/albums/jackie.jpeg" alt="trouble man" class="portfolio__img">
            <div class="song_overlay">
                <div class="album-text">
                    <p class="song-title" style="white-space: nowrap;">The Jackie</p>
                    <p class="song-artist" style="font-size: 12px">Bas, J.Cole, Lil Tjay</p>
                </div>
            </div>
            </a>

        </div>
        
    </div>
</section>

{% endblock %}
