{% extends "layout.html" %}

{% block content %}

<style type="text/css">
#describe {
    color: #B6F29D;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 20px;
    font-family: monospace;
    background: #111;
    font-size: 15px;
    display: none;
}
</style>

<section class="my-music-choices" id="music-choices">
     <div class="choices">

        <div class="choice__container">
            <a href="/music/playlist" class="choice__item">
                <img src="/static/img/music/record.png" alt="at the moment" class="blog__img">
                    
            <div class="choice_overlay">
                <div class="choice-text">
                    <p style="font-family: monospace;">playlist</p>
                </div>
            </div>
            </a>
<!--             <p id="describe">
                music i'm currently listening to
                <br>
                ---
                <br>
                albums on top, tracks at the bottom
                <br>
                ---
                <br>
                {{ current_albums }} albums, {{ avg_current_score }} 
                <br>
                ---
                <br>
                {{ tracks }} tracks in total

            </p> -->

        </div>

        <div class="choice__container">
            <a href="/music/albums" class="choice__item">
                <img src="/static/img/music/record.png" alt="all time" class="blog__img">
                    
            <div class="choice_overlay">
                <div class="choice-text">
                    <p style="font-family: monospace;">albums</p>
                </div>
            </div>
            </a>
<!--             <p id="describe">
                my all time favorite albums
                <br>
                ---
                <br>
                sorted by score
                <br>
                ---
                <br>
                {{ albums }} albums, avg score: {{ avg_score }}/10
                <br>
                ---
                <br>
                {{ tens }} 10/10s
            </p> -->
        </div>

        </div>

<p id="letterr">---<br><a href="https://rateyourmusic.com/~asboyer" target="_blank" id="letterboxr">rym</a></p>

</section>
{% endblock %}
