{% extends "layout.html" %}

{% block styles %}
{% endblock %}

{% block content %}

<!-- BEGIN INTRODUCTION -->
<section class="intro" id="home">
    <h1 class="section__title section__title--intro">
        Hi, I'm<strong>Andrew Boyer</strong>
    </h1>
    <p class="section__subtitle section__subtitle--intro">Student, programmer, and hacker</p>
    <img src="/static/img/new1.png" alt+="andrew boyer main logo" class="intro__img">
</section>
<!-- END INTRODUCTION -->

<!-- BEGIN PROJECTS -->
<section class="my-projects" id="projects">
    <h2 class="section__title section__title--projects">Notable Projects</h2>
    <div class="projects" id="projects-div">
        <script type="text/javascript" src="/static/js/index/projects.js"></script>
    </div>
    <a href="/#skills" class="btn" style="margin-top: 30px">my skills</a>
</section>
<!-- END PROJECTS -->

<!-- BEGIN WORK -->
<section class="my-work" id="experience">
    <h2 class="section__title section__title--work">Notable Experience</h2>
    <div class="work" id="work">
        <script type="text/javascript" src="/static/js/index/work.js"></script>
    </div>
    <a href="https://drive.google.com/file/d/1lIXNm2AT5CdVszR__okQNinpX6nxCort/view" class="btn" target="_blank" rel="noopener noreferrer" style="margin-top: 30px">Full Resume</a>
</section>
<!-- END WORK -->

<!-- BEGIN SKILLS -->
<section class="my-services" id="skills">
    <h2 class="section__title section__title--services">What I do</h2>
    <div class="services" id="skills-div">
        <script type="text/javascript" src="/static/js/index/skills.js"></script>
    </div>
    <a href="/#tools" class="btn" >preferred tools</a>
</section>
<!-- END SKILLS -->


<!-- BEGIN BLOG -->
<section class="my-blog" id="blog">

    <h2 class="section__title section__title--blog"><strong>Boyer's</strong> Blog</h2>
<!--     <p class="section__subtitle section__subtitle--blog"><strong>"</strong>When I feel like posting<strong>"</strong></p> -->

    <div class="posts">

<!--         <div class="blog__container">
            <a href="/blog/1" class="blog__item">
                <img src="/static/img/blog/python-mvp/jokic.png" alt="internet blog post" class="blog__img">
                <div class="overlay">
                    <div class="text">
                        <p class="title">How I used Python to predict the NBA MVP</p>
                        <p class="date">8.20.21</p>


                        <p class="subject">Programming</p>
                    </div>
                </div>
            </a>
        </div> -->

        <div class="blog__container">
            <a href="/blog/0" class="blog__item">
                <img src="/static/img/blog/kanye/kanye.png" alt="internet blog post" class="blog__img">
                <div class="overlay">
                    <div class="text">
                        <p class="title">Kanye West is my role model</p>
                        <p class="date">8.13.21</p>
                        <p class="subject">Life & Music</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="blog__container">
            <a href="/soon" class="blog__item">
                <img src="/static/img/l.png" alt="internet blog post" class="blog__img">
                <div class="overlay">
                    <div class="text">
                        <p class="title">Coming Soon</p>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="blog__container">
            <a href="/soon" class="blog__item">
                <img src="/static/img/l.png" alt="internet blog post" class="blog__img">
                <div class="overlay">
                    <div class="text">
                        <p class="title">Coming Soon</p>
                    </div>
                </div>
            </a>
        </div>

    </div>


<a href="/blog" class="btn" style="margin-top: 80px">full blog</a>


</section>
<!-- END BLOG -->

<!-- BEGIN TOOLS -->
<section class="my-tools" id="tools">

    <h2 class="section__title section__title--tools">Technologies I use</h2>
    
    <div class="tools">

            <div class="tool">
                <a href="https://www.hyperxgaming.com/unitedstates/us/keyboards/alloy-origins-core-tenkeyless-mechanical-gaming-keyboard" class="tool__item" target="_blank" rel="noopener noreferrer">
                    <img src="/static/img/tools/keyboard.png" alt="keyboard" class="tool__img">
                </a>
                <h3>Alloy Origins Core</h3>
                <p class="use">Keyboard</p>                        
            </div>

            <div class="tool">
                <a href="https://www.sublimetext.com/" class="tool__item" target="_blank" rel="noopener noreferrer">
                    <img src="/static/img/tools/sublime.png" alt="sublime" class="tool__img">
                </a>
                <h3>Sublime</h3>
                <p class="use">Text editor</p>                        
            </div> 

            <div class="tool">
                <a href="https://www.python.org/" class="tool__item" target="_blank" rel="noopener noreferrer">
                    <img src="/static/img/tools/python.png" alt="python" class="tool__img">
                </a>
                <h3>Python</h3>
                <div style="margin-right: 10px; margin-left: 10px">
                    <p class="use" >Favorite programming language</p>                        
                </div>
            </div> 

            <div class="tool">
                <a href="https://ubuntu.com/" class="tool__item" target="_blank" rel="noopener noreferrer">
                    <img src="/static/img/tools/ubuntu.png" alt="ubuntu" class="tool__img">
                </a>
                <h3>Ubuntu</h3>
                <p class="use">Operating system</p>                        
            </div>

            <div class="tool">
                <a href="https://www.logitech.com/en-us/products/mice/mx-master-3.910-005620.html" class="tool__item" target="_blank" rel="noopener noreferrer">
                    <img src="/static/img/tools/mouse.png" alt="mouse" class="tool__img">
                </a>
                <h3>MX Master 3</h3>
                <p class="use">Mouse</p>                        
            </div>

            <div class="tool">
                <a href="https://www.lastpass.com/" class="tool__item" target="_blank" rel="noopener noreferrer">
                    <img src="/static/img/tools/lastpass.png" alt="Password manager" class="tool__img">
                </a>
                <h3>LastPass</h3>
                <p class="use">Password manager</p>                        
            </div>

    </div>

    <a href="/#skills" class="btn"  style="margin-top: 30px">What i do</a>

</section>
<!-- END TOOLS -->

<!-- BEGIN ABOUT -->
<section class="who" id="about">

    <div class="about-me">

        <h2 class="section__title section__title--about">About Me</h2>
        <p class="section__subtitle section__subtitle--about">Student, programmer, and hacker</p>

        <div class="about-me__body">

            <p>I'm a {{ age }} year old junior in high school, passionate about software and computers, looking to make a high impact.</p>

            <!-- <a href="/press" class="special_btn" id="button1">In the news</a> -->
<!--             <a href="/soon" class="special_btn" id="button2">Awards and honors</a>
            <a href="/soon" class="special_btn" id="button3">podcasts</a> -->

            <p>Feel free to contact me, I am always looking for an opportunity to meet new people, explore new interests, and try new things. I believe creativity, confidence, and a willingness to take risks are all vital to success. </p>

            <p>Aside from my passions, I thoroughly enjoy entertainment and culture. I am interested in all kinds of music, film, and art. I also love to read, both fiction and non-fiction alike. I've linked some of my favorites below. Enjoy!</p>

        </div>

        <div class="images">

            <a href="https://www.metrowestdailynews.com/story/news/education/2021/03/26/wayland-high-hackathon-kicks-off-friday/6973145002/" target="_blank">
                <img src="/static/img/at_desk.jpg" alt="classic image of andrew boyer" class="about-me__img">
            </a>

            <a href="/egg">
                <img src="/static/img/hat.png" alt="classic image of andrew boyer" class="about-me__img">
            </a>



        </div>

        <div class="about-line" style="padding: 1px; background-color: ; margin-top: 50px; margin-bottom: 30px">
            
        </div>

        <div class="more-button">

<!--         <div style="margin: 0 auto; margin-top: 20px; margin-bottom: 10px">
            <a href="/press" class="special_btn" id="button1">In the news</a>
        </div> -->

            <a href="/music" class="more-btn">Music</a>
            <!-- <a href="/soon" class="more-btn">Books</a> -->
            <a href="/movies" class="more-btn">Films</a>
            <a href="/shows" class="more-btn">Shows</a>
            <a href="/press" class="more-btn">Press</a>

<!--             <a href="/soon" class="more-btn">Shows</a>
            <a href="/soon" class="more-btn">Games</a>
            <a href="/soon" class="more-btn">Other</a> -->
        </div>




    </div>


        <div class="more-buttonz" style="margin-bottom: 20px; margin-top: 10px">
            <a href="/press" class="btn" id="button1">In the news</a>
<!--             <a href="/soon" class="special_btn1" id="button2">Awards and honors</a>
            <a href="/soon" class="special_btn1" id="button3">podcasts</a> -->
        </div>

        
        <div class="more-buttonz">
            <a href="/music" class="more-btn">Music</a>
            <!-- <a href="/books" class="more-btn">Books</a> -->
            <a href="/movies" class="more-btn">Films</a>
            <a href="/shows" class="more-btn">Shows</a>
<!--             <a href="/soon" class="more-btn">Shows</a>
            <a href="/soon" class="more-btn">Games</a>
            <a href="/soon" class="more-btn">Other</a> -->
        </div>

</section>
<!-- END ABOUT -->
{% endblock %}

{% block scripts %}
{% endblock %}
