{% extends "layout.html" %}

{% block styles %}
{% endblock %}

{% block content %}
<!-- BEGIN INTRODUCTION -->
<section class="intro" id="home">
    <h1 class="section__title section__title--intro">
        Hi, I'm<strong>Andrew Boyer</strong>
    </h1>
    <p class="section__subtitle section__subtitle--intro">Student, programmer, and hacker</p>
    <img src="/static/img/new1.png" alt+="andrew boyer main logo" class="intro__img">
</section>
<!-- END INTRODUCTION -->

<!-- BEGIN PROJECTS -->
<section class="my-projects" id="projects">

    <h2 class="section__title section__title--projects">Notable Projects</h2>
    
    <div class="projects">
        
        <div class="project__row1"> <!-- BEGIN ROW 1 -->
            
            <div class="project">
                <a href="https://pypi.org/project/reporty/" class="project__item" target="_blank" rel="noopener noreferrer">
                    <img src="/static/img/projects/reporty.png" alt="reporty" class="project__img">
                </a>
                <h3>Reporty</h3>
                <a href="https://github.com/asboyer2/reporty" target="_blank"><i class="fab fa-github fa-lg" style="color: #282923; padding-bottom: 20px" aria-hidden="true"></i></a>
            </div>

            <div class="project">
                <a href="https://www.goatgrade.com/" class="project__item" target="_blank" rel="noopener noreferrer">
                    <img src="/static/img/projects/nba.png" alt="nba logo" class="project__img">
                </a>
                <h3>Goat Grade</h3>
                <a href="https://github.com/asboyer2/goat-grade" target="_blank"><i class="fab fa-github fa-lg" style="color: #282923; padding-bottom: 20px" aria-hidden="true"></i></a>
            </div>

            <div class="project">
                <a href="https://www.reboothacks.com/" class="project__item" target="_blank" rel="noopener noreferrer">
                    <img src="/static/img/projects/RebootHacks.png" alt="reboothacks" class="project__img" >
                </a>
                <h3>Project Reboot</h3>
                <a href="https://github.com/reboothacks" target="_blank"><i class="fab fa-github fa-lg" style="color: #282923; padding-bottom: 20px" aria-hidden="true"></i></a>
            </div>

        </div> <!-- END ROW 1 -->

        <div class="projects__row2"> <!-- BEGIN ROW 2 -->

            <div class="project">
                <a href="https://github.com/asboyer2/python-lessons" class="project__item" target="_blank" rel="noopener noreferrer">
                    <img src="/static/img/projects/python.png" alt="python" class="project__img">
                </a>
                <h3>Python Lessons and Curriculum</h3>
                <a href="https://github.com/asboyer2/python-lessons" target="_blank"><i class="fab fa-github fa-lg" style="color: #282923; padding-bottom: 20px" aria-hidden="true"></i></a>
            </div>

            <div class="project">
                <a href="https://pypi.org/project/boyer/" class="project__item" target="_blank" rel="noopener noreferrer">
                    <img src="/static/img/logo.png" alt="boyer logo" class="project__img">
                </a>
                <h3>Personal Python Library</h3>
                <a href="https://github.com/asboyer2/boyer" target="_blank"><i class="fab fa-github fa-lg" style="color: #282923; padding-bottom: 20px" aria-hidden="true"></i></a>
            </div>

            <div class="project">
                <a href="https://builtwithcare.org" class="project__item" target="_blank" rel="noopener noreferrer">
                    <img src="/static/img/projects/m.png" alt="space invaders" class="project__img">
                </a>
                <h3>Built with<br>Care</h3>
                <a href="https://github.com/builtwithcare" target="_blank"><i class="fab fa-github fa-lg" style="color: #282923; padding-bottom: 20px" aria-hidden="true"></i></a>
            </div>

        </div> <!-- END ROW 2 -->

    </div>

    <a href="/#skills" class="btn">my skills</a>

</section>
<!-- END PROJECTS -->

<!-- BEGIN WORK -->
<section class="my-work" id="experience">

    <h2 class="section__title section__title--work">Notable Experience</h2>
    
    <div class="work">

        <div class="job">

            <a href="https://www.thecoderschool.com/locations/sudbury/" class="job__item" target="_blank" rel="noopener noreferrer">
                <img src="/static/img/work/coder.png" alt="thecoderschool" class="job__img">
            </a>
            <h3>Staff Instructor</h3>
             <div class="job__description">
                <p>Teaching kids the basics of programming through engaging project and lecture based learning.
                   <br>
                   <br>
                   <em>September 2020 - Present</em>
                </p>
            </div>

        </div>
        
        <div class="job">

            <a href="https://www.intelycare.com/" class="job__item" target="_blank" rel="noopener noreferrer">
                <img src="/static/img/work/intelycare.png" alt="intelycare" class="job__img">
            </a>
            <h3>Automation Engineer Intern</h3>
            <div class="job__description">
                <p>Working with quality assurance team to create web automation test scripts.
                   <br>
                   <br>
                   <em>March 2021 - Present</em>
                </p>
            </div>
        </div>

        <div class="job">

            <a href="https://www.cybersummercamp.org/" class="job__item" target="_blank" rel="noopener noreferrer">
                <img src="/static/img/work/cyber.png" alt="cybersummercamp" class="job__img">
            </a>
            <h3>Founder and CEO</h3>
            <div class="job__description">
                <p>Directing, leading, and developing camps that teach younger students about computer security.
                   <br>
                   <br>
                   <em>June 2020 - Present</em>
                </p>
            </div>

        </div>

    </div>

    <a href="https://drive.google.com/file/d/1pSkCTIoNGxyP2gnGCPmd3zuVEhO9bm21/view" class="btn" target="_blank" rel="noopener noreferrer">Full Resume</a>

</section>
<!-- END WORK -->

<!-- BEGIN SKILLS -->
<section class="my-services" id="skills">

    <h2 class="section__title section__title--services">What I do</h2>
    
    <div class="services">

        <div class="service">
            <i class="fas fa-code fa-3x"></i>
            <h3>Development</h3>
            <p>Since the summer of my freshman year of high school, I've self taught myself the fundamentals of development and programming. I am passionate about creating with code and bringing ideas to life with software. Not only am I passionate about teaching myself, but I love to teach others how to leverage software for good. I teach as a coding instructor, tutor, and lead my high school's computer science club. Ironically, what really got me interested in software was hardware. In the spring of 2020, I built my own computer. Through this process, I learned a lot about how computers work, and consequently, how software interacts with the computer. I am familiar with programming languages and technologies such as Python, Java, and JavaScript.</p>
        </div>

        <div class="service">
            <i class="fas fa-user-secret fa-3x"></i>
            <h3>Cybersecurity</h3>
            <p>Aside from development, computer security, networking, and the IoT deeply interests me. I developed this curiosity by attending a two-week intensive cybersecurity summer camp at Syracuse University, which ended in a capture the flag hackathon. I've also started a business around teaching students the basics of computing and the Internet through a summer camp. Aside from summer camps, I also love to compete in virtual CTF competitions, and my team finished top 50th in the country in CMU's picoCTF 2021. Familiar with operating systems like Ubuntu and Kali Linux, and can adequately leverage command line technologies and tools.</p>
        </div>

        <div class="service">
            <i class="far fa-compass fa-3x"></i>
            <h3>Leadership</h3>
            <p>I am always looking for an opportunity to lead, whether that be in the world of software, or elsewhere. Starting with computer science, I am the President of the Wayland Computer Science Club, where I lead the club in weekly meetings and help students pursue their passions in computer science. I am also the founder and lead organizer of Reboot Hacks, an organization that runs free hackathons for high schoolers. Our most recent event focused on creating software to assist with remote learning. Aside from computers, I am an Eagle Scout, and active member of the National Eagle Scout Association. In 2019, I led my Boy Scout troop in constructing a fully functional, weather-proof baseball scoreboard for our local Little League.</p>
        </div>

    </div>

    <a href="/#tools" class="btn">preferred tools</a>

</section>
<!-- END SKILLS -->


<!-- BEGIN BLOG -->
<section class="my-blog" id="blog">

    <h2 class="section__title section__title--blog"><strong>Boyer's</strong> Blog</h2>
    <p class="section__subtitle section__subtitle--blog"><strong>"</strong>When I feel like posting<strong>"</strong></p>

    <div class="posts">

        <div class="blog__container">
            <a href="/blog/0" class="blog__item">
                <img src="/static/img/blog/python-mvp/jokic.png" alt="internet blog post" class="blog__img">
                <div class="overlay">
                    <div class="text">
                        <p class="title">How I used Python to predict the NBA MVP</p>
                        <p class="date">8.2.21</p>
                        <p class="subject">Programming</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="blog__container">
            <a href="/soon" class="blog__item">
                <img src="/static/img/l.png" alt="internet blog post" class="blog__img">
                <div class="overlay">
                    <div class="text">
                        <p class="soon">Coming Soon</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="blog__container">
            <a href="/soon" class="blog__item">
                <img src="/static/img/l.png" alt="internet blog post" class="blog__img">
                <div class="overlay">
                    <div class="text">
                        <p class="soon">Coming Soon</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

</section>
<!-- END BLOG -->

<!-- BEGIN TOOLS -->
<section class="my-tools" id="tools">

    <h2 class="section__title section__title--tools">Technologies I use</h2>
    
    <div class="tools">

            <div class="tool">
                <a href="https://www.hyperxgaming.com/unitedstates/us/keyboards/alloy-origins-core-tenkeyless-mechanical-gaming-keyboard" class="tool__item" target="_blank" rel="noopener noreferrer">
                    <img src="/static/img/tools/keyboard.png" alt="keyboard" class="tool__img">
                </a>
                <h3>Alloy Origins Core</h3>
                <p class="use">Keyboard</p>                        
            </div>

            <div class="tool">
                <a href="https://www.sublimetext.com/" class="tool__item" target="_blank" rel="noopener noreferrer">
                    <img src="/static/img/tools/sublime.png" alt="sublime" class="tool__img">
                </a>
                <h3>Sublime</h3>
                <p class="use">Text editor</p>                        
            </div> 

            <div class="tool">
                <a href="https://www.python.org/" class="tool__item" target="_blank" rel="noopener noreferrer">
                    <img src="/static/img/tools/python.png" alt="python" class="tool__img">
                </a>
                <h3>Python</h3>
                <p class="use">Favorite programming language</p>                        
            </div> 

            <div class="tool">
                <a href="https://ubuntu.com/" class="tool__item" target="_blank" rel="noopener noreferrer">
                    <img src="/static/img/tools/ubuntu.png" alt="ubuntu" class="tool__img">
                </a>
                <h3>Ubuntu</h3>
                <p class="use">Operating system</p>                        
            </div>

            <div class="tool">
                <a href="https://www.logitech.com/en-us/products/mice/mx-master-3.910-005620.html" class="tool__item" target="_blank" rel="noopener noreferrer">
                    <img src="/static/img/tools/mouse.png" alt="mouse" class="tool__img">
                </a>
                <h3>MX Master 3</h3>
                <p class="use">Mouse</p>                        
            </div>

            <div class="tool">
                <a href="https://www.lastpass.com/" class="tool__item" target="_blank" rel="noopener noreferrer">
                    <img src="/static/img/tools/lastpass.png" alt="Password manager" class="tool__img">
                </a>
                <h3>LastPass</h3>
                <p class="use">Password manager</p>                        
            </div>

    </div>

    <a href="/#services" class="btn">What i do</a>

</section>
<!-- END TOOLS -->

<!-- BEGIN ABOUT -->
<section class="who" id="about">

    <div class="about-me">

        <h2 class="section__title section__title--about">About Me</h2>
        <p class="section__subtitle section__subtitle--about">Student, programmer, and hacker</p>

        <div class="about-me__body">

            <p>I'm a seventeen year old junior in high school, passionate about software and computers, looking to make a high impact.</p>

            <a href="/press" class="special_btn" id="button1">In the news</a>
            <a href="/soon" class="special_btn" id="button2">Awards and honors</a>
            <a href="/soon" class="special_btn" id="button3">podcasts</a>

            <p>Feel free to contact me, I am always looking for an opportunity to meet new people, explore new interests, and try new things. I believe creativity, confidence, and a willingness to take risks are all vital to success. </p>

            <p>Aside from my passions, I thoroughly enjoy entertainment and culture. I am interested in all kinds of music, film, and art. I also love to read, both fiction and non-fiction alike. I've linked some of my favorites below. Enjoy!</p>

        </div>



        <div class="images">

            <a href="https://www.metrowestdailynews.com/story/news/education/2021/03/26/wayland-high-hackathon-kicks-off-friday/6973145002/" target="_blank">
                <img src="/static/img/at_desk.jpg" alt="classic image of andrew boyer" class="about-me__img">
            </a>

            <a href="/egg">
                <img src="/static/img/hat.png" alt="classic image of andrew boyer" class="about-me__img">
            </a>



        </div>

        <div class="more-button">
            <a href="/music" class="more-btn">Music</a>
            <a href="/books" class="more-btn">Books</a>
            <a href="/movies" class="more-btn">Films</a>
            <a href="/soon" class="more-btn">Shows</a>
            <a href="/soon" class="more-btn">Games</a>
            <a href="/soon" class="more-btn">Other</a>
        </div>




    </div>

        <div class="more-buttonz" style="margin-bottom: 20px">
            <a href="/press" class="special_btn1" id="button1">In the news</a>
            <a href="/soon" class="special_btn1" id="button2">Awards and honors</a>
            <a href="/soon" class="special_btn1" id="button3">podcasts</a>
        </div>

        
        <div class="more-buttonz">
            <a href="/music" class="more-btn">Music</a>
            <a href="/books" class="more-btn">Books</a>
            <a href="/movies" class="more-btn">Films</a>
            <a href="/soon" class="more-btn">Shows</a>
            <a href="/soon" class="more-btn">Games</a>
            <a href="/soon" class="more-btn">Other</a>
        </div>

</section>
<!-- END ABOUT -->
{% endblock %}

{% block scripts %}
{% endblock %}
