<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="author" content="Andrew Boyer">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        
        {% block seo %}
        {% endblock %}

        <meta property="og:url" content="https://www.asboyer.com">
        <meta property="og:description" content="asboyer.com">
        <meta property="og:image" content="https://asboyer.com/static/img/l.png">
        <meta property="og:url" content="https://www.asboyer.com/">

        <meta name="description" content="Hi, I'm Andrew Boyer, and welcome to asboyer.com, my personal website. Here you can find more about what I’m up to, my favorite things, and what I do."/>
        <meta name="keywords" content="Andrew Boyer, Andrew S Boyer, Andrew, Boyer, Boyer Wayland, asboyer.com, asboyer">
        <title>Andrew Boyer</title>

        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:creator" content="@asboyer_"/>
        <meta name="twitter:title" content="asboyer.com"/>
        <meta name="twitter:description" content="Hi, I'm Andrew Boyer, and welcome to asboyer.com, my personal website. Here you can find more about what I’m up to, my favorite things, and what I do."/>
        <meta name="twitter:image" content="https://asboyer.com/static/img/l.png"/>


        {% block tweet %}
        {% endblock %}

        <link rel="shortcut icon" href="/static/img/favicon.ico"/>

        <link rel="apple-touch-icon" href="/static/img/apple-touch-icon-iphone-60x60.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/img/apple-touch-icon-ipad-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-iphone-retina-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-touch-icon-ipad-retina-152x152.png">

        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">

        <!-- Font awesome -->
        <script src="https://kit.fontawesome.com/222493b4df.js" crossorigin="anonymous"></script>

        <!-- JQuery -->
        <script type="text/javascript" src="/static/js/jquery/jquery.js"></script>

        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        
        <!-- Noto Sans HK -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@900&display=swap" rel="stylesheet">
        <!-- Roboto -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">
        <!-- Open Sans -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-VLF7W0XF0G"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-VLF7W0XF0G');
        </script>



        {% block styles %}
        {% endblock %}

    </head>

    <body>
        <header>
            <nav class="nav" id="topnavbar">
                <ul class="nav__list">
                    <li class="nav__itm"><a href="/#home" class="nav__link">Home <i class="fas fa-home"></i></a></li>
                    <li class="nav__itm"><a href="/#projects" class="nav__link">Projects <i class="fas fa-file-code"></i></a></li>
                    <li class="nav__itm"><a href="/#experience" class="nav__link">Experience <i class="fas fa-briefcase"></i></a></li>
                    <li class="nav__itm"><a href="/#skills" class="nav__link">Skills <i class="fas fa-address-book"></i></a></li>
                    <li class="nav__itm"><a href="/#blog" class="nav__link">Blog <i class="fas fa-book"></i></a></li>
                    <li class="nav__itm"><a href="/#tools" class="nav__link">Tools <i class="fas fa-laptop-code"></i></a></li>
                    <li class="nav__itm"><a href="/#about" class="nav__link">About <i class="fas fa-address-card"></i></a></li>
                </ul>
            </nav>

            <div class="logo">
                <a href="/">
                    <img src="/static/img/alt-logo.png" alt="">
                </a>
            </div>

            <button class="nav-toggle" aria-label="toggle navigation">
                <span class="hamburger"></span>
            </button>

        </header>
        
        {% block content %}
        {% endblock %}

        <!-- BEGIN FOOTER -->
        <footer class="footer">
            <ul class="social-list">
                <li class="social-list__item">
                    <a class="social-list__link" href="https://github.com/asboyer" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://www.myfitnesspal.com/_asboyer/" target="_blank"><i class="fas fa-dumbbell"></i></a>
                </li>
<!--                 <li class="social-list__item">
                    <a class="social-list__link" href="https://www.freecodecamp.org/asboyer" target="_blank"><i class="fab fa-free-code-camp"></i></a>
                </li> -->
                <li class="social-list__item">
                    <a class="social-list__link" href="https://www.youtube.com/channel/UCFOqd7pJ9y1j1VfJAgtRlkg" target="_blank"><i class="fab fa-youtube"></i></a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://open.spotify.com/user/uuzdbyuye92sxqjltw955qm9n?si=rPFH2WO_TQOwm8TH_PPzVQ" target="_blank"><i class="fab fa-spotify"></i></a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://www.linkedin.com/in/asboyer/" target="_blank"><i class="fab fa-linkedin"></i></a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://twitter.com/asboyer_" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
            </ul>
        </footer>
        <!-- END FOOTER -->

        <script src="/static/js/index.js"></script>
        {% block scripts %}
        {% endblock %}

    </body>    
</html>
