{% extends "layout.html" %}

{% block seo %}
<title>Quotes</title>
<meta name="description" content="Hi, I'm Andrew Boyer, and welcome to asboyer.com, my personal website. This page of website houses my all-time favorite quotes, which I look to when I need inspiration."/>
<meta name="keywords" content="quotes, asboyer quotes, asboyer">
{% endblock %}

{% block tweet %}
<meta name="twitter:title" content="asboyer quotes"/>
<meta name="twitter:description" content="Hi, I'm Andrew Boyer, and welcome to asboyer.com, my personal website. This page of website houses my all-time favorite quotes, which I look to when I need inspiration."/>
{% endblock %}



{% block content %}

<script type="text/javascript" src="/static/js/quotes/quotes.js" data_file="/data/quotes.json"></script>

<section class="quotes" id="quotes">

</section>

{% endblock %}